<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Password App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
    <div th:replace="header :: header"></div>
</head>

<body>

    <div class="container">
        <h1>PasswordApp</h1>
        <p>Was bored and wanted to try springboot, mysql, thymeleaf. Here's the end result. You can check it out from the link below.</p>        
        <a href="https://github.com/snorlax93/passwordapp">Github Link</a>
    </div>
</body>

</html>