<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Password App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <h1>Accounts List</h1> <br />
        <h2>Successfully saved account details. See details below.</h2>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account : ${account}">
                    <td th:text="${account.name}"></td>
                    <td th:text="${account.password}"></td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/account/new}" class="btn btn-primary btn-sm mb-3"> Add Another Account </a>
    </div>
</body>

</html>