<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Password App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Logs List</h1>
        <hr>
        <h2>Save Log</h2>
        <br />
        <form action="#" th:action="@{/log/save}" th:object="${log}" method="POST">
            <input type="hidden" th:field="*{lid}" />
            <label>UID:</label>
            <input type="text" th:field="*{uid}" placeholder="*{uid}" class="form-control mb-4 col-4">
            <label>Transaction:</label>
            <textarea type="text" th:field="*{transaction}" placeholder="*{Transaction}" class="form-control mb-4 col-4"></textarea>
            <button type="submit" class="btn btn-info col-2"> Save Log</button>
        </form>

        <hr>

        <a th:href="@{/log}"> Back to Logs List</a>
    </div>
</body>
